header {
  padding-top: 30px;
  text-align: center;
  border-bottom: 5px black solid;
  background: hsl(0, 0%, 50%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 50vh;
  background: hsl(0, 0%, 70%);
}
.button {
  width: 25vw;
  height: 100px;
  background: grey;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.1);
  background: hsl(0, 0%, 40%);
}
.name {
  font-size: xx-large;
  text-align: center;
  margin-top: 30px;
}
#score {
  font-weight: bold;
  text-align: center;
  padding: 30px;
  font-size: larger;
}
body {
  background: hsl(0, 0%, 70%);
  margin: 0;
}
#computerScore {
  text-align: center;
  padding-top: 5px;
}
h3 {
  margin: 0;
  padding: 10px;
}
#scoreCont {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0, 0%, 70%);
}
#compSelection {
  font-size: xx-large;
  text-align: center;
  margin: 0;
  padding: 0;
}
